{{#partial "navtabs"}}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/trails/new">Find a trail</a></li>
        <li role="presentation"><a href="/trails">See all trails</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Trails By Region<span class="caret"></span></a>
            <ul class="dropdown-menu">
                {{#if regions}}
                    {{#each region}}
                        <li><a href="/regions/{{id}}">{{name}}</a></li>
                    {{/each}}
                {{else}}
                    <li>No regions yet</li>
                {{/if}}
            </ul>
        </li>
    </ul>
{{/partial}}

{{#partial "content"}}

    <!-- BEGIN Hiking Project -->
    <iframe style="width:100%; max-width:1200px; height:650px;" frameborder="0" scrolling="no" src="https://www.hikingproject.com/widget/map?favs=1&location=ip&x=-11720097&y=4865449&z=10&h=650"></iframe>
    <!-- END Hiking Project -->

    {{#if editTrail}}
        <h2>Update a trail</h2>
        <p><a href="/trails/{{editTrail.id}}/delete">delete this trail</a></p>
        <form action="/trails/{{editTrail.id}}/update" method="post">
            <div class="form-group">
                <label for="name">Trail name: </label>
                <input id="name" name="name" type="text" value="{{editTrail.name}}" required>
            </div>
            <div class = "form-group">
                <label for="difficulty">Difficulty (1-10): </label>
                <input id="difficulty" name="difficulty" type="number" min="1" max="10" value="{{editTrail.difficulty}}" required>
            </div>
            <div class = "form-group">
                <label for="location">Location: </label>
                <input id="location" name="location" type="text" value="{{editTrail.location}}" required>
            </div>
            <!--<div class = "form-group">-->
                <!--<label for="latitude">Latitude: </label>-->
                <!--<input id="latitude" name="latitude" type="number" value="{{editTrail.latitude}}"required>-->
            <!--</div>-->
            <!--<div class = "form-group">-->
                <!--<label for="longitude">Longitude: </label>-->
                <!--<input id="longitude" name="longitude" type="number" value="{{editTrail.longitude}}"required>-->
            <!--</div>-->
            <div class = "form-group">
                <label for="distance">Distance: </label>
                <input id="distance" name="distance" type="number" value="{{editTrail.distance}}" required>
            </div>


    {{else}}
        <h2>Add a new trail!</h2>
        <form action="/trails" method="post">
            <div class = "form-group">
                <label for="name">Trail name: </label>
                <input id="name" name="name" type="text" required>
            </div>
            <div class = "form-group">
                <label for="difficulty">Difficulty (1-10): </label>
                <input id="difficulty" name="difficulty" type="number" min="1" max="10" required>
            </div>
            <div class = "form-group">
                <label for="location">Location: </label>
                <input id="location" name="location" type="text" required>
            </div>
            <!--<div class = "form-group">-->
                <!--<label for="latitude">Latitude: </label>-->
                <!--<input id="latitude" name="latitude" type="number" required>-->
            <!--</div>-->
            <!--<div class = "form-group">-->
                <!--<label for="longitude">Longitude: </label>-->
                <!--<input id="longitude" name="longitude" type="number" required>-->
            <!--</div>-->
            <div class = "form-group">
                <label for="distance">Distance: </label>
                <input id="distance" name="distance" type="number" required>
            </div>

    {{/if}}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>



{{/partial}}

{{>layout}}