{{#partial "navtabs"}}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/trails/new">Find a trail</a></li>
        <li role="presentation"><a href="/trails">See all trails</a></li>
        <!--<li role="presentation" class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Trails By Region<span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--{{#if regions}}-->
                    <!--{{#each region}}-->
                        <!--<li><a href="/regions/{{id}}">{{name}}</a></li>-->
                    <!--{{/each}}-->
                <!--{{else}}-->
                    <!--<li>No regions yet</li>-->
                <!--{{/if}}-->
            <!--</ul>-->
        <!--</li>-->
    </ul>
{{/partial}}

{{#partial "content"}}
    <div class="well">

        <h2>{{foundTrail.trailName}}</h2>
        <ul>
            <li>Difficulty: {{foundTrail.difficulty}}</li>
            <li>Location: {{foundTrail.location}}</li>
            <!--<li>Latitude: {{foundTrail.latitude}}</li>-->
            <!--<li>Longitude: {{foundTrail.longitude}}</li>-->
            <li>Distance: {{foundTrail.distance}}</li>
        </ul>

    <p><a href="/trails/{{foundTrail.id}}/update"><span class="glyphicon glyphicon-pencil" aria-hidden="true">edit</span></a></p>

    <p><a href="/trails/{{foundTrail.id}}/journals/new">Create an adventure log!</a></p>

    </div>

    {{#if journals}}
        {{#each journals}}
            <div class="well">
                <ul>
                    <li>{{createdAt}}</li>
                    <li>Best season: {{bestSeason}}</li>
                    <li>Hiked it yet: {{didTheHike}}</li>
                </ul>
                <p>{{notes}}</p>
                <p><a href="/journals/{{id}}/update"><span class="glyphicon glyphicon-pencil" aria-hidden="true">edit</span></a></p>
            </div>
        {{/each}}
    {{else}}
        <div class="well">
            <p>No journals yet.</p>
        </div>
    {{/if}}


{{/partial}}

{{>layout.hbs}}